extends ../layouts/main-layout.pug

block title
  title Create Song

block content
  h1 Create Song
  form(action="/songs/create-song", method="POST") 
    input(type="text", name="title", placeholder="Title...", value=songData?songData.title:null)
    textarea(name="description", placeholder="Description...") #{songData?songData.description:null}
    input(type="text", name="thumbnail", placeholder="Thumbnail...", value=songData?songData.thumbnail:null)
    input(type="text", name="path", placeholder="Song's URL...", value=songData?songData.path:null)
    button Create Song
