extends ../layouts/main-layout.pug

block title
  title Login

block content
  main(class="flex flex-col gap-4 justify-center items-center", style="min-height:79vh;")
    h1(class="text-2xl font-bold") Login
    form(class="bg-gray-100 flex flex-col w-1/2 p-10 gap-5" action="/auth/login", method="POST") 
      input(class="p-2", type="email", name="email", placeholder="Email", value="gopoma@gmail.com")
      input(class="p-2", type="password", name="password", placeholder="Password", value="12345")
      button(class="inline-block p-2 bg-blue-600 text-white font-medium text-sm leading-snug uppercase rounded shadow-md hover:bg-blue-700 hover:shadow-lg focus:bg-blue-700 focus:shadow-lg focus:outline-none focus:ring-0 active:bg-blue-800 active:shadow-lg transition duration-150 ease-in-out") Login
