extends ../layouts/main-layout.pug

block title
  title Not Allowed

block content
  main(class="flex flex-col gap-2 justify-center items-center", style="min-height:86vh;")
    h1(class="text-4xl font-bold") Not Allowed
    img(src="/img/403.jpg", alt="Not Allowed")