extends ../layouts/main-layout.pug

block title 
  title Songs

block content
  h1 Songs

  section(class="bg-gray-100 shadow-md w-10/12 mx-auto")
    each song in songs
      article(class="flex gap-5")
        p #{song.title}
        div(class="relative")
          button(class="addBtn") +
          div(class="absolute hidden left-full top-0 w-max bg-gray-800 ml-2 p-3 text-white")
            each playlist in playlists
              a(href=`/playlists/addSong?idPlaylist=${playlist.id}&idSong=${song.id}`) #{playlist.name}