extends layouts/main-layout.pug

block content
  h1 Create User View

  form(method="POST", action="/admin/create-user")
    input(type="text", name="fullname", placeholder="Fullname" value="Julioprofe")
    input(type="text", name="username", placeholder="Username" value="gopoma")
    input(type="email", name="email", placeholder="Email" value="gopoma@gmail.com")
    input(type="password",  name="password", placeholder="Password" value="12345")
    input(type="password", name="passwordRepeated", placeholder="Confirm Passwod" value="12345")
    select(name="role")
      option(value=1) Regular
      option(value=10) Admin
    input(type="text", name="profilePicture", placeholder="Profile Picture")
    input(type="date", name="birthday")
    input(type="checkbox", name="active" checked=true)
    button CREATE