extends layouts/main-layout.pug

block title
  title Login

block content
  h1 Login
  form(action="/auth/login", method="POST") 
    input(type="email", name="email", placeholder="Email")
    input(type="password", name="password", placeholder="Password")
    button Login
