nav(class="bg-emerald-900")
  ul(class="p-5 flex gap-5 text-white")
    li
      a(href="/") Home
    li
      a(href="/notAllowed") 403
    li
      a(href="/xd") 404
    li
      a(href="/auth/login") LogIn
    li
      a(href="/auth/signup") SignUp